@if (vm().loading) {
<p-progressSpinner ariaLabel="loading" />
} @else {
<p-card subheader="Quiz list">
  <ng-template pTemplate="header">
    <ul class="personal-info">
      <li>
        <p><span>Name:</span>{{ vm().user?.name }}</p>
      </li>
      <li>
        <p><span>Email:</span>{{ vm().user?.email }}</p>
      </li>
    </ul>
  </ng-template>
  <ul class="quiz-list">
    @for (quiz of selectUserQuizList(); track quiz.id) {
    <li>
      <span>{{ quiz.name }}</span>
      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
        (click)="deleteQuiz($event, quiz)"></button>
    </li>
    }
  </ul>
  <div class="w-300">
    <p-multiSelect [formControl]="quizList" [options]="selectUserQuizLookups()" placeholder="Assign Quiz"
      [showClear]="true" (onChange)="assignQuiz()" (onPanelHide)="cleare()" [resetFilterOnHide]="true" />
  </div>

</p-card>
}