p-password  {
  .p-password {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.field {
  label {
    font-size: 14px;
  }
}


p-password ,
.p-inputtext {
  &.ng-invalid.ng-dirty ,
  &.ng-invalid.ng-touched  {
    .p-inputtext {
      border-color: red;
    }
   }
}
  
