p-password  {
  .p-password {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

p-inputnumber {
  display: block;
  .p-inputnumber {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.field {
  label {
    font-size: 14px;
  }
}

p-password,
p-inputnumber {
  &.ng-invalid.ng-dirty ,
  &.ng-invalid.ng-touched  {
    .p-inputtext {
      border-color: red;
    }
   }
}

.p-inputtext {
  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched  {
    border-color: red;
  }
}

p-multiselect {
  .p-multiselect {
   width: 100%;
  }
}