@if (vm().loading) {
<p-progressSpinner ariaLabel="loading" />
} @else {
<div class="centered">
  <div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="save()">
      <h3>{{ title() }}</h3>
      @if(viewMode() && isAdmin()) {
      <a
        pButton
        class="p-button-rounded p-button-success"
        (click)="changePageMode($event, pageMode.Edit)"
      >
        Edit
      </a>
      }
      <div class="formgrid">
        <div class="field">
          <label for="name">Quiz Name</label>
          <input class="w-full" type="text" formControlName="name" pInputText />
          @if (formCtrl.name.errors && (formCtrl.name.touched ||
          formCtrl.name.dirty)) {
          <app-validation-messages
            [control]="formCtrl.name"
            [value]="formCtrl.name.value"
          />
          }
        </div>
        <div>
          Question {{ questionIndex() + 1 }} of {{ questionsLength() }}.
        </div>

        <div class="field">
          @if (isAdmin()) {
          <label for="timer">Timer</label>
          <p-inputNumber
            mode="decimal"
            formControlName="timer"
            [useGrouping]="false"
            (onInput)="changeNumber($event.value, formCtrl.timer)"
          />
          @if (formCtrl.timer.errors && (formCtrl.timer.touched ||
          formCtrl.timer.dirty)) {
          <app-validation-messages
            [control]="formCtrl.timer"
            [value]="formCtrl.timer.value"
          />
          } } @else {
          <span>Timer:</span>{{ quizTimer() }}
          }
        </div>
        <div class="field">
          <label for="passValue">Pass Value</label>
          <p-inputNumber
            mode="decimal"
            formControlName="passValue"
            [useGrouping]="false"
            (onInput)="changeNumber($event.value, formCtrl.passValue)"
          />
          @if (formCtrl.passValue.errors && (formCtrl.passValue.touched ||
          formCtrl.passValue.dirty)) {
          <app-validation-messages
            [control]="formCtrl.passValue"
            [value]="formCtrl.passValue.value"
          />
          }
        </div>
        <div formArrayName="questions">
          <p-card class="field" [formGroupName]="questionIndex()">
            <div>
              <label for="question">Question</label>
              @if(questions.controls.length > 1 && showAddRemoveButtons()) {
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
                (click)="removeQuestion($event)"
              ></button>
              }
              <input
                class="w-full"
                type="text"
                [formControl]="
                  questionGroupControl(questionIndex(), 'question')
                "
                appValueTrim
                pInputText
              />
              @if (questions.controls[questionIndex()].get('question')?.errors
              && (questions.controls[questionIndex()].get('question')?.touched
              || questions.controls[questionIndex()].get('question')?.dirty)) {
              <app-validation-messages
                [control]="questionGroupControl(questionIndex(), 'question')"
                [value]="
                  questions.controls[questionIndex()].get('question')?.value
                "
              />
              }
            </div>
            <div>
              <label for="type">Question Type</label>
              @for (questionType of questionTypes; track questionType.key) {
              <label [for]="questionType.key" class="ml-2">{{
                questionType.name
              }}</label>
              <p-radioButton
                [inputId]="questionType.key"
                [value]="questionType.value"
                name="type{{ questionIndex() }}"
                [formControl]="questionGroupControl(questionIndex(), 'type')"
                (onClick)="changeQuestionType()"
              />
              }
            </div>
            <div class="field">
              <label for="value">Value</label>
              <p-inputNumber
                mode="decimal"
                [formControl]="questionGroupControl(questionIndex(), 'value')"
                [useGrouping]="false"
                (onInput)="
                  changeNumber(
                    $event.value,
                    questionGroupControl(questionIndex(), 'value')
                  )
                "
              />
              @if (questions.controls[questionIndex()].get('value')?.errors &&
              (questions.controls[questionIndex()].get('value')?.touched ||
              questions.controls[questionIndex()].get('value')?.dirty)) {
              <app-validation-messages
                [control]="questionGroupControl(questionIndex(), 'value')"
                [value]="
                  questions.controls[questionIndex()].get('value')?.value
                "
              />
              }
            </div>
            <div formArrayName="answers">
              <label for="question">Answers</label>
              @for ( answersItem of questionAnswers(questionIndex()).controls;
              track answersItem; let answerIndex = $index ) {
              <div class="field" [formGroupName]="answerIndex">
                <div>
                  @if (questionGroupControl(questionIndex(), 'type').value ===
                  type.multiple) {
                  <p-checkbox
                    [label]="
                      isAdmin()
                        ? 'Correct Answer'
                        : questionAnswers(questionIndex()).controls[
                            answerIndex
                          ].get('answer')?.value + ''
                    "
                    name="answer+{{ answerIndex }}"
                    [binary]="true"
                    (onChange)="changeQuestionAnswer(answerIndex)"
                    [formControl]="
                      questionAnswersControl(
                        questionIndex(),
                        answerIndex,
                        'correctAnswer'
                      )
                    "
                  />
                  } @else {
                  <p-radioButton
                    inputId="value{{ answerIndex }}"
                    name="value{{ questionIndex() }}"
                    (onClick)="changeQuestionAnswer(answerIndex)"
                    [value]="true"
                    [formControl]="
                      questionAnswersControl(
                        questionIndex(),
                        answerIndex,
                        'correctAnswer'
                      )
                    "
                  />
                  <label for="value{{ answerIndex }}" class="ml-2">{{
                    isAdmin()
                      ? "Correct Answer"
                      : questionAnswers(questionIndex()).controls[
                          answerIndex
                        ].get("answer")?.value + ""
                  }}</label>
                  }
                </div>
                @if (isAdmin()) {
                <div>
                  <input
                    class="w-full"
                    type="text"
                    formControlName="answer"
                    appValueTrim
                    pInputText
                  />
                  @if(questionAnswers(questionIndex()).controls[answerIndex].get('answer')?.errors
                  &&
                  (questionAnswers(questionIndex()).controls[answerIndex].get('answer')?.touched
                  ||
                  questionAnswers(questionIndex()).controls[answerIndex].get('answer')?.dirty))
                  {
                  <app-validation-messages
                    [control]="
                      questionAnswersControl(
                        questionIndex(),
                        answerIndex,
                        'answer'
                      )
                    "
                    [value]="
                      questionAnswers(questionIndex()).controls[
                        answerIndex
                      ].get('answer')?.value
                    "
                  />
                  }
                </div>
                } @if(questionAnswers(questionIndex()).controls.length > 1 &&
                showAddRemoveButtons()) {
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="
                    removeQuestionAnswer($event, questionIndex(), answerIndex)
                  "
                ></button>
                }
              </div>
              } @if (showAddRemoveButtons()) {
              <button
                pButton
                pRipple
                type="button"
                class="p-button-rounded p-button-success"
                (click)="addNewAnswer($event)"
              >
                Add Answer
              </button>
              }
            </div>
          </p-card>
          @if (showAddRemoveButtons()) {
          <button
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-success"
            (click)="addNewQuastion($event)"
          >
            Add Question
          </button>
          }
        </div>
        <div class="field flex justify-content-center">
          @if (!viewMode()) { @if (showPreviousButton()) {
          <p-button
            label="previous"
            styleClass="p-button-success w-10rem"
            (onClick)="sowPreviousPage($event)"
          />
          } @if (showNextButton()) {
          <p-button
            label="next"
            styleClass="p-button-success w-10rem"
            (onClick)="showNextPage($event)"
          />
          } @else {
          <p-button
            [label]="isAdmin() ? submitButtonTitle() : 'Complet'"
            styleClass="p-button-success w-10rem"
            type="submit"
          />
          } }
        </div>
      </div>
    </form>
  </div>
</div>
}
