<div class="centered">
  <div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="signIn($event)">
      <img alt='quiz' src="assets/img/logo.jpg" height="40" />
      <h3>Sign In</h3>
      <div class="formgrid">
        <div class="field">
          <label for="email">Email</label>
          <input class="w-full" type="email" formControlName="email" pInputText appValueTrim id="email" />
          @if (formCtrl.email.errors && (formCtrl.email.touched || formCtrl.email.dirty)) {
          <app-validation-messages [control]="formCtrl.email" [value]="formCtrl.email.value" />
          }
        </div>
        <div class="field">
          <label for="password">Password</label>
          <p-password class="w-full" formControlName="password" [toggleMask]="true" id="password" />
          @if (formCtrl.password.errors && (formCtrl.password.touched || formCtrl.password.dirty)) {
          <app-validation-messages [control]="formCtrl.password" [value]="formCtrl.password.value" />
          }
        </div>
        <div class="field flex justify-content-center">
          <p-button label="Sign In" styleClass="p-button-success w-10rem" type="submit" />
        </div>
      </div>
    </form>
    <p class="sml-txt">Don't have an account? <a class="link" [routerLink]="['/register']">Sign Up</a></p>
  </div>
</div>