<div class="centered">
  <div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="signIn()">
      <img alt='quiz' src="assets/img/logo.jpg" height="40" />
      <h3>Sign In</h3>
      <div class="formgrid">
        <div class="field">
          <label for="email">Email</label>
          <input class="w-full" type="email" formControlName="email" pInputText />
          @if (controls.email.errors) {
            <app-validation-messages [control]="controls.email"/>
          }
        </div>
        <div class="field">
          <label for="password">Password</label>
          <p-password class="w-full" formControlName="password" [toggleMask]="true" />
          @if (controls.password.errors) {
            <app-validation-messages [control]="controls.password" />
          }
        </div>
        <div class="field flex justify-content-center">
          <p-button
            label="Sign In"
            icon="pi pi-user-plus"
            styleClass="p-button-success w-10rem"
          ></p-button>
        </div>
      </div>
    </form>
    <p class="sml-txt">Don't have an account? <a class="link" [routerLink]="['/register']">Sign Up</a></p>
  </div>
</div>