<div class="centered">
  <div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="save()">
      <h3>{{title}}</h3>
      <div class="formgrid">
        <div class="field">
          <label for="name">Quiz Name</label>
          <input class="w-full" type="text" formControlName="name" pInputText />
          @if (formCtrl.name.errors && formCtrl.name.touched) {
            <app-validation-messages [control]="formCtrl.name" [value]="formCtrl.name.value" />
          }
        </div>
        <div class="field">
          <label for="timer">Timer</label>
          <p-inputNumber
                  mode="decimal"
                  formControlName="timer"
                  [useGrouping]="false"
                  (onInput)="changeNumber($event.value, formCtrl.timer)"
                ></p-inputNumber>
          @if (formCtrl.timer.errors && formCtrl.timer.touched) {
            <app-validation-messages [control]="formCtrl.timer" [value]="formCtrl.timer.value" />
          }
        </div>
        <div class="field">
          <label for="passValue">Pass Value</label>
          <p-inputNumber
                  mode="decimal"
                  formControlName="passValue"
                  [useGrouping]="false"
                  (onInput)="changeNumber($event.value, formCtrl.passValue)"
                ></p-inputNumber>
          @if (formCtrl.passValue.errors && formCtrl.passValue.touched) {
            <app-validation-messages [control]="formCtrl.passValue" [value]="formCtrl.passValue.value" />
          }
        </div>
        <div class="field flex justify-content-center">
          <p-button
            label="Save"
            styleClass="p-button-success w-10rem"
            type="submit"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>